---
import {Font} from "astro:assets";

import '../styles/global.css'
import OBSCard from "../components/OBSCard.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
        <link rel="icon" href="/favicon.ico"/>
        <meta name="viewport" content="width=device-width"/>
        <meta name="generator" content={Astro.generator}/>
        <Font cssVariable="--font-comic-mono" preload/>
        <title>Fyn's Overlay</title>
    </head>
    <body>
        <OBSCard/>
    </body>
</html>