---

---

<div id="content" class="border-2 border-nord4 p-4">
    <div id="essential-info">
        <h1 class="bg-nord8 text-nord1 px-2 text-xl">Info</h1>

        <hr class="border-nord3 border-t-2 my-2" />

        <p>Hello, I'm
            <span class="bg-nord7 text-nord0 px-2"><b>Teal</b></span>, but also
            <span class="bg-nord7 text-nord0 px-2"><b>Fyn</b></span> and
            <span class="bg-nord7 text-nord0 px-2"><b>Mango</b></span>!
        </p>

        <p>My pronouns are
            <span class="bg-nord14 text-nord0 px-2"><b>fae/faer</b></span>
            and
            <span class="bg-nord14 text-nord0 px-2"><b>she/her</b></span>
            but,
            <span class="bg-nord14 text-nord0 px-2"><b>fae/faer are much preferred</b></span>
        </p>
    </div>
</div>
