---

---

<div id="notes" class="border-2 border-nord4 p-4">
    <div>
        <h1 class="bg-nord11 px-2 text-xl">Notes</h1>

        <hr class="border-nord3 border-t-2 my-2" />

        <p>I get overstimulated easily.</p>
        <br />
        <p>Please avoid the following:</p>

        <ul class="list-disc ml-8">
            <li>Talking when it isn't your turn during combat</li>
            <li>Being loud.</li>
        </ul>
    </div>
</div>