---
import EssentialInfo from "./EssentialInfo.astro";
import Notes from "./Notes.astro";
---

<!-- I am TRULY hating webdev, i might as well have just fuckin done this with GPUI at this point. !-->
<div class="fixed inset-0 flex items-start">
    <div id="obscard" class="font-mono flex flex-col bg-nord0 text-nord5 gap-2 p-4">
        <EssentialInfo />
        <Notes />
    </div>
</div>